body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #849db5;
}
.container{
    margin-top: 10em;
    width: 100%;
}

.btn-rounded{
   height: 34px;
}

.cart-image{
    border-radius: 5px;
}

.btn-primary{
    background-image: url("../../resources/images/yellowheart.jpg") !important;
    background-size: cover;
    /* background: #d1b158 !important; */
    color: black !important;
    font-weight: 700 !important;
    width: 100%;
    outline: 0 !important;
    border: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none !important;
    box-shadow:none !important;
}

.img-responsive{
    border-radius: 5px;
    border: 5px solid #2b2b29;
}

.btn-success{
    margin-top: .25em;
    background-image: url("../../resources/images/padauk.jpg") !important;
    background-size: cover;
    /* background: #db8840!important; */
    color: black !important;
    font-weight: 700 !important;
    width: 100%;
    border: none !important;
    outline: 0 !important;
}

.filterbtn{
    
    background-image: url("../../resources/images/wewd.jpg");
    background-size: cover;
    color: white;
    width: 50%;
    padding: .5em;
    border-radius: 5px;
}

.category{
    font-size: 1.3em;
    margin-top: .5em;
}
.item-title{
    text-align: center;
    background-image: url("../../resources/images/wewd.jpg");
    background-size: cover;
    /* background: #2b2b29; */
    padding: .5em;
    border-bottom: 5px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-.05em;
}
.item-title a, .item-title a:hover{
    color: white;
}
tr{
    font-size: 1.6em;
}
td{
    font-size:1.3em;
}

.register-now{
    display: inline-block;
    margin-left: .5em;
}

.business{
    grid-area: brand;
    margin-top: 1em;
    color:white;
    font-family: times;
}

.business-title{
    display: inline-block;
    margin-left: .5em;
    font-size: 1.7em;
}

.business-tagline{
    margin-left: -.8em;
    margin-top: -.4em;

    font-size: 1.1em;
}

.site-nav {
    background: #2b2b29;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #000;
}

.branding{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "image brand"
}

.branding img{
    height: 80px;
    width: 90px;
    margin-left: 1em;
    position: relative;
    grid-area: image;
}

.search{
    /* margin-right: .5em; */
    margin-bottom: .75em;
    margin-right: 1em;
}

.log a{
    font-size: 1.3em;
    margin: 1em;
    color: white; 
}

.log a:hover, .hud a:hover{
    color: white;
}

.contact{
    width: 500px;
    margin: 0 auto;
}

#addReview{
    display: inline-block;
}

.hud a{
    color: white;
    margin: .5em;
}

.logged-in a{
    position: relative;
    left: 4em;
}

.login-register a{
    position: relative;
    left: 10em;
}
footer{
    width: 100%;
    height: 100px;
    background: #2b2b29;
    color: white;
    position: relative;
    bottom: 0;
    margin:0 auto;
    text-align: center;
    border-top: 5px solid #000;
    padding: 1em;
}

.product-wrapper{

    box-shadow: 0px 5px 10px rgb(0,0,0,.5);
}

.thumbnail{
    border-top: none !important;
    border-radius: 0px !important;

    padding-bottom: .5em !important;
}

.section-subheading{
    width: 800px;
    margin: 0 auto;
    padding: .5em;
    border-radius: 5px;
    text-align: center;
}

.paypal{
    color: red ;
}
.rounded-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#showPassword{
    margin-left: .75em;
    text-decoration: underline;
}

.form, .form-register {
    background: rgb(255, 255, 255, .5);
    width: 500px;
    padding: 2em;
    border: 5px solid #2b2b29;
    border-radius: 10px;
}

.form {
    margin: 2em auto;
}

.form-register {
    margin: 2em auto ;
}

.form input, .form-register input, .form label, .form-register label, .form span, .form-register span {
    position: relative;
    left: 25%;
    font-weight: 700;
    color: rgb(63, 58, 58);
    border-radius: 5px;
    margin-bottom: -2em;
}

.form h2, .form-register h2 {
    margin: 0 auto;
    position: relative;
    left: 15%;
}

#wrapper {
    padding-left: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    
    #page-wrapper {
        padding: 10px;
    }
}

hr{
    width: 50%;
    position: relative;
    left: -4.75em;
}
.line{
    width: 50%;
    height: 1px;
    margin: 1em auto;
    background: #2b2b29;
    opacity: .1;
}



/* Top Navigation */

#admin{
    display: none;
}

#login{
    display: inline-block;
}

#logout{
    display:none;
}
#profile_manager{
    display: none;
}

#register{
    display: inline-block;
}









